@import "tailwindcss";

:root {
  --background: #f6f7f8;
  --foreground: #101822;
}

.dark {
  --background: #101822;
  --foreground: #f6f7f8;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

* {
  border-color: #e2e8f0;
}

.dark * {
  border-color: #1e293b;
}

@layer base {
  input, select, textarea {
    @apply text-black dark:text-white placeholder:text-slate-400;
  }
}
